body {
    background-color: #FAFAFA;
}

.menu a.header {
	color: rgba(0,0,0,.85);
}
.menu a.header:hover {
	color: black;
}

h1.click:hover .ui.setting.icon {
	opacity:1;
}

h1.click {
	cursor: pointer;
}
	
h1.click .ui.setting.icon {
	margin-top: -.4em;
	margin-left: .4em;
	opacity:.4;
	font-size: 1em;
}

.ui.accordion.menu .item .title>.dropdown.icon{
	float: inherit;
	margin:inherit;
	margin-left:-.5em;
	margin-right:.1em;
	margin-top:.1em;
	transform: inherit;
}

.ui.accordion.menu .label{
	vertical-align:20%!important;
}


.ui.accordion.menu .content>.ui.segment {
	border: 0;
	padding: 0 !important;
}

.ui.accordion.menu .content>table.ui thead{
	cursor: default;
}

.accordion.menu>.add.item>.segment{
	padding: 0;
}
.addRisk.modal .header .dropdown .label{
	margin:0 !important;
}

pre{
	margin:1em;
}
.clearing.hidden.divider{
	margin:0;
}
li{
	color: darkred;
	cursor: pointer;
}
li:hover {
	color: red;
}
li.select {
	text-decoration: underline;
	font-weight: bold;	
	color: purple;
}
a.item>.title>.label {
    font-size: .78571429em;
}
h4.time.header{
	color:lightgray;
	margin-top: .4em !important;
    margin-bottom: 0;
}
h4.comment.header{
	margin-top: .4em !important;
    margin-bottom: 0;
}

.input.error input{
	color: red !important;
}
.item.hidden{
	display:none !important;
}

textarea.hidden,.ui.fitted.checkbox.hidden,.hidden.button{
	display:none;
}

.ui.fitted.checkbox{
    margin-right: 1em !important;
}

